<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/dashboard">
        <img
            src="assets/layout/images/{{
                layoutService.config().colorScheme === 'light'
                    ? 'logo-dark'
                    : 'logo-white'
            }}.svg"
            alt="logo"
        />
        <span>EXTRAE</span>
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->
        <button
            class="p-link layout-topbar-button"
            style="display: flex; align-items: center; position: relative"
        >
            <ng-container *ngIf="profileImage; else defaultIcon">
                <img
                    [src]="profileImage"
                    alt="Profile Image"
                    (click)="showLogoutMenu = !showLogoutMenu"
                    style="
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        margin-right: 8px;
                        cursor: pointer;
                    "
                />
            </ng-container>
            <ng-template #defaultIcon>
                <i
                    class="pi pi-user"
                    style="font-size: 24px; margin-right: 8px; cursor: pointer"
                    (click)="showLogoutMenu = !showLogoutMenu"
                ></i>
                <span>{{ profileName || "Profile" }}</span>
            </ng-template>

            <div
                *ngIf="showLogoutMenu"
                style="
                    position: absolute;
                    top: 50px;
                    right: 0;
                    background: white;
                    border: 1px solid #ddd;
                    padding: 10px;
                    border-radius: 4px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                "
            >
                <button (click)="logout()">Cerrar sesión</button>
            </div>
        </button>

        <!-- <button
            class="p-link layout-topbar-button"
            [routerLink]="'/documentation'"
        >
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
    </div>
</div>
